In [1]:
import os
import numpy as np
from sqlalchemy import create_engine, text
import pandas as pd
import tarfile
import shutil
import re
import unicodedata
from sqlalchemy import text
from sqlalchemy.dialects.postgresql import ARRAY, TEXT
from tqdm import tqdm
from multiprocessing import Pool
import psycopg2
from sqlalchemy import inspect

In [3]:
engine = create_engine(
    'postgresql+psycopg2://rg5073:rg5073pass@129.114.27.112:5432/cleaned_meta_data_db',
    pool_size=12,
    max_overflow=0,
    pool_timeout=30,
)

In [4]:
create_sql = """
CREATE TABLE IF NOT EXISTS arxiv_metadata_training_data (
    paper_id TEXT,
    chunk_no INT,
    chunk_id TEXT,
    txt_filename TEXT,
    query TEXT,
    chunk_data TEXT,
    query_phrases TEXT
);
"""
with engine.begin() as conn:
    conn.execute(text(create_sql))

In [8]:
training_data_csv_path = os.path.join('/Users/riyagarg/Downloads', 'arxiv_chunks_training_4_phrases1.csv')

In [9]:
df = pd.read_csv(training_data_csv_path)
print("Our metadata contains: ",len(df), " records")

Our metadata contains:  6043  records

In [10]:
raw_conn = engine.raw_connection()
cur = raw_conn.cursor()

with open(training_data_csv_path, 'r') as f:
    cur.copy_expert(f"""
        COPY arxiv_metadata_training_data
        FROM STDIN
        WITH CSV HEADER
    """, f)

raw_conn.commit()
cur.close()

In [12]:
df_training_data = pd.read_sql_table(
    'arxiv_metadata_training_data',
    con=engine
)

df_all_data = pd.read_sql_table(
    'arxiv_chunks',
    con=engine
)
df_all_data.head()

,paper_id,chunk_no,chunk_id,txt_filename,query,chunk_data
0,0704.1728v1,None,0704.1728v1_1,0704.1728v1.txt,,arXiv 0704.1728v1 gr qc 13 Apr 2007 April 2007...
1,0704.1728v1,None,0704.1728v1_2,0704.1728v1.txt,,Z L q d . The Lagrangian L depends only on the...
2,0704.1728v1,None,0704.1728v1_3,0704.1728v1.txt,,involved form. We want now to investigate the ...
3,0704.1728v1,None,0704.1728v1_4,0704.1728v1.txt,,"space, instead of configuration space, or perh..."
4,0704.1479v2,None,0704.1479v2_1,0704.1479v2.txt,,arXiv 0704.1479v2 cond mat.mes hall 12 Apr 200...